@model Axxes.Haxx.Web.Models.CommentInputModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#comments-list-@Model.SessionId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

